openapi: 3.0.4
info:
  title: DeepApi
  version: 0.1.0
servers:
  - url: https://api.deepinfra.com/
paths:
  /cli/version:
    get:
      summary: Cli Version
      operationId: cli_version_cli_version_get
      parameters:
        - name: version
          in: query
          required: true
          schema:
            title: Version
            type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/me:
    get:
      summary: Me
      operationId: me_v1_me_get
      parameters:
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Me'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
    delete:
      summary: Delete Account
      operationId: delete_account_v1_me_delete
      parameters:
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Me'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
    patch:
      summary: Account Update Details
      operationId: account_update_details_v1_me_patch
      parameters:
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeIn'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
      security:
        - HTTPBearer: [ ]
  /v1/me/emails:
    get:
      summary: Account Email Values
      operationId: account_email_values_v1_me_emails_get
      parameters:
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailsOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  /v1/me/team_display_name:
    post:
      summary: Team Set Display Name
      operationId: team_set_display_name_v1_me_team_display_name_post
      parameters:
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisplayNameIn'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  /v1/me/rate_limit:
    get:
      summary: Account Rate Limit
      operationId: account_rate_limit_v1_me_rate_limit_get
      parameters:
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  /v1/me/rate_limit/request:
    post:
      summary: Request Rate Limit Increase
      operationId: request_rate_limit_increase_v1_me_rate_limit_request_post
      parameters:
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RateLimitRequestIn'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  /v1/deploy:
    post:
      summary: Deploy Create
      operationId: deploy_create_v1_deploy_post
      parameters:
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeployModelIn'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeployResult'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '423':
          description: Locked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  /deploy/hf/:
    post:
      summary: Deploy Create Hf
      operationId: deploy_create_hf_deploy_hf__post
      parameters:
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HFModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeployResult'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '423':
          description: Locked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  /deploy/llm/gpu_availability:
    get:
      summary: Deploy Gpu Availability
      operationId: deploy_gpu_availability_deploy_llm_gpu_availability_get
      parameters:
        - name: source
          in: query
          schema:
            title: Source
            type: string
            default: ''
        - name: base_model
          in: query
          schema:
            title: Base Model
            type: string
            default: ''
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeployGPUAvailability'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  /deploy/llm:
    post:
      summary: Deploy Create Llm
      operationId: deploy_create_llm_deploy_llm_post
      parameters:
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeployLLMIn'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentOut'
        '402':
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
      security:
        - HTTPBearer: [ ]
  /deploy/list/:
    get:
      summary: Deploy List
      operationId: deploy_list_deploy_list__get
      parameters:
        - name: status
          in: query
          description: 'A list of statuses that should be returned, separated by comma. Allowed values in the list are: initializing,downloading,deploying,running,failed,deleted'
          schema:
            title: Status
            type: string
            description: 'A list of statuses that should be returned, separated by comma. Allowed values in the list are: initializing,downloading,deploying,running,failed,deleted'
            nullable: true
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Deploy List Deploy List  Get
                type: array
                items:
                  $ref: '#/components/schemas/DeploymentOut'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      deprecated: true
      security:
        - HTTPBearer: [ ]
  /deploy/list:
    get:
      summary: Deploy List
      operationId: deploy_list_deploy_list_get
      parameters:
        - name: status
          in: query
          description: 'A list of statuses that should be returned, separated by comma. Allowed values in the list are: initializing,downloading,deploying,running,failed,deleted'
          schema:
            title: Status
            type: string
            description: 'A list of statuses that should be returned, separated by comma. Allowed values in the list are: initializing,downloading,deploying,running,failed,deleted'
            nullable: true
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Deploy List Deploy List Get
                type: array
                items:
                  $ref: '#/components/schemas/DeploymentOut'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  '/deploy/{deploy_id}':
    get:
      summary: Deploy Status
      operationId: deploy_status_deploy__deploy_id__get
      parameters:
        - name: deploy_id
          in: path
          required: true
          schema:
            title: Deploy Id
            type: string
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
    put:
      summary: Deploy Update
      operationId: deploy_update_deploy__deploy_id__put
      parameters:
        - name: deploy_id
          in: path
          required: true
          schema:
            title: Deploy Id
            type: string
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeployLLMUpdateIn'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeployStatusOut'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
    delete:
      summary: Deploy Delete
      operationId: deploy_delete_deploy__deploy_id__delete
      parameters:
        - name: deploy_id
          in: path
          required: true
          schema:
            title: Deploy Id
            type: string
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeployDelete'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  '/deploy/{deploy_id}/stats':
    get:
      summary: Deploy Stats
      operationId: deploy_stats_deploy__deploy_id__stats_get
      parameters:
        - name: deploy_id
          in: path
          required: true
          schema:
            title: Deploy Id
            type: string
        - name: from
          in: query
          description: 'start of period, unix ts or ''now-5h'', supported units s(ec), m(min), h(our), d(ay), w(eek), M(onth)'
          required: true
          schema:
            title: From
            type: string
            description: 'start of period, unix ts or ''now-5h'', supported units s(ec), m(min), h(our), d(ay), w(eek), M(onth)'
        - name: to
          in: query
          description: 'end of period, unix ts or now-relative, check from, defaults to now'
          schema:
            title: To
            type: string
            description: 'end of period, unix ts or now-relative, check from, defaults to now'
            default: now
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentStatsOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '410':
          description: Gone
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  '/deploy/{deploy_id}/stats2':
    get:
      summary: Deploy Detailed Stats
      operationId: deploy_detailed_stats_deploy__deploy_id__stats2_get
      parameters:
        - name: deploy_id
          in: path
          required: true
          schema:
            title: Deploy Id
            type: string
        - name: from
          in: query
          description: 'start of period, unix ts or ''now-5h'', supported units s, m, h, d, w'
          required: true
          schema:
            title: From
            type: string
            description: 'start of period, unix ts or ''now-5h'', supported units s, m, h, d, w'
        - name: to
          in: query
          description: 'end of period, unix ts or now-relative, check from, defaults to now'
          schema:
            title: To
            type: string
            description: 'end of period, unix ts or now-relative, check from, defaults to now'
            default: now
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetailedDeploymentStatsOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '410':
          description: Gone
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  /models/private/list:
    get:
      summary: Private Models List
      operationId: private_models_list_models_private_list_get
      parameters:
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Private Models List Models Private List Get
                type: array
                items:
                  $ref: '#/components/schemas/ModelOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  /lora-model:
    post:
      summary: Upload Lora Model
      operationId: upload_lora_model_lora_model_post
      parameters:
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoraModelUploadIn'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentOut'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  '/lora-model/{lora_model_name}':
    delete:
      summary: Delete Lora Model
      operationId: delete_lora_model_lora_model__lora_model_name__delete
      parameters:
        - name: lora_model_name
          in: path
          required: true
          schema:
            title: Lora Model Name
            type: string
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  /models/list:
    get:
      summary: Models List
      operationId: models_list_models_list_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Models List Models List Get
                type: array
                items:
                  $ref: '#/components/schemas/ModelOut'
  '/models/{model_name}/versions':
    get:
      summary: Model Versions
      operationId: model_versions_models__model_name__versions_get
      parameters:
        - name: model_name
          in: path
          required: true
          schema:
            title: Model Name
            type: string
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Model Versions Models  Model Name  Versions Get
                type: array
                items:
                  $ref: '#/components/schemas/ModelVersionOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  '/models/{model_name}/publicity':
    post:
      summary: Model Publicity
      operationId: model_publicity_models__model_name__publicity_post
      parameters:
        - name: model_name
          in: path
          required: true
          schema:
            title: Model Name
            type: string
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelPublicityIn'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  '/models/{model_name}/meta':
    post:
      summary: Model Meta Update
      operationId: model_meta_update_models__model_name__meta_post
      parameters:
        - name: model_name
          in: path
          required: true
          schema:
            title: Model Name
            type: string
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelMetaIn'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  '/models/{model_name}':
    delete:
      summary: Model Delete
      operationId: model_delete_models__model_name__delete
      parameters:
        - name: model_name
          in: path
          required: true
          schema:
            title: Model Name
            type: string
        - name: version
          in: query
          description: 'delete a particular version, pass ''ALL'' to wipe everything'
          required: true
          schema:
            title: Version
            type: string
            description: 'delete a particular version, pass ''ALL'' to wipe everything'
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
    get:
      summary: Models Info
      operationId: models_info_models__model_name__get
      parameters:
        - name: model_name
          in: path
          required: true
          schema:
            title: Model Name
            type: string
        - name: version
          in: query
          schema:
            title: Version
            type: string
            nullable: true
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelInfoOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  /models/featured:
    get:
      summary: Models Featured
      operationId: models_featured_models_featured_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Models Featured Models Featured Get
                type: array
                items:
                  $ref: '#/components/schemas/ModelOut'
  '/models/{model_name}/schema/{variantKey}':
    get:
      summary: Model Schema
      operationId: model_schema_models__model_name__schema__variantKey__get
      parameters:
        - name: model_name
          in: path
          required: true
          schema:
            title: Model Name
            type: string
        - name: variantKey
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/SchemaVariantKey'
        - name: version
          in: query
          schema:
            title: Version
            type: string
            nullable: true
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaOut'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '423':
          description: Locked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  '/v1/inference/deploy/{deploy_id}':
    post:
      summary: Inference Deploy
      operationId: inference_deploy_v1_inference_deploy__deploy_id__post
      parameters:
        - name: deploy_id
          in: path
          required: true
          schema:
            title: Deploy Id
            type: string
        - name: x-deepinfra-source
          in: header
          schema:
            title: X-Deepinfra-Source
            type: string
            nullable: true
        - name: user-agent
          in: header
          schema:
            title: User-Agent
            type: string
            nullable: true
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  '/v1/inference/{model_name}':
    post:
      summary: Inference Model
      operationId: inference_model_v1_inference__model_name__post
      parameters:
        - name: model_name
          in: path
          required: true
          schema:
            title: Model Name
            type: string
        - name: version
          in: query
          description: model version to run inference against
          schema:
            title: Version
            type: string
            description: model version to run inference against
            nullable: true
        - name: x-deepinfra-source
          in: header
          schema:
            title: X-Deepinfra-Source
            type: string
            nullable: true
        - name: user-agent
          in: header
          schema:
            title: User-Agent
            type: string
            nullable: true
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '423':
          description: Locked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  /v1/openai/completions:
    post:
      summary: Openai Completions
      operationId: openai_completions_v1_openai_completions_post
      parameters:
        - name: x-deepinfra-source
          in: header
          schema:
            title: X-Deepinfra-Source
            type: string
            nullable: true
        - name: user-agent
          in: header
          schema:
            title: User-Agent
            type: string
            nullable: true
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAICompletionsIn'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  /v1/openai/files:
    get:
      summary: List Files
      operationId: list_files_v1_openai_files_get
      parameters:
        - name: after
          in: query
          schema:
            title: After
            type: string
            nullable: true
        - name: purpose
          in: query
          schema:
            title: Purpose
            type: string
            nullable: true
        - name: order
          in: query
          schema:
            title: Order
            type: string
            nullable: true
        - name: limit
          in: query
          schema:
            title: Limit
            type: integer
            default: 100
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
    post:
      summary: Openai Files
      operationId: openai_files_v1_openai_files_post
      parameters:
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_openai_files_v1_openai_files_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  /v1/openai/batches:
    get:
      summary: Retrieve Openai Batches
      operationId: retrieve_openai_batches_v1_openai_batches_get
      parameters:
        - name: after
          in: query
          required: true
          schema:
            title: After
            type: string
        - name: limit
          in: query
          schema:
            title: Limit
            type: integer
            default: 20
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
    post:
      summary: Create Openai Batch
      operationId: create_openai_batch_v1_openai_batches_post
      parameters:
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAIBatchesIn'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIBatch'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  '/v1/openai/batches/{batch_id}':
    get:
      summary: Retrieve Openai Batch
      operationId: retrieve_openai_batch_v1_openai_batches__batch_id__get
      parameters:
        - name: batch_id
          in: path
          required: true
          schema:
            title: Batch Id
            type: string
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  /v1/openai/chat/completions:
    post:
      summary: Openai Chat Completions
      operationId: openai_chat_completions_v1_openai_chat_completions_post
      parameters:
        - name: x-deepinfra-source
          in: header
          schema:
            title: X-Deepinfra-Source
            type: string
            nullable: true
        - name: user-agent
          in: header
          schema:
            title: User-Agent
            type: string
            nullable: true
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAIChatCompletionsIn'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  /v1/openai/embeddings:
    post:
      summary: Openai Embeddings
      operationId: openai_embeddings_v1_openai_embeddings_post
      parameters:
        - name: x-deepinfra-source
          in: header
          schema:
            title: X-Deepinfra-Source
            type: string
            nullable: true
        - name: user-agent
          in: header
          schema:
            title: User-Agent
            type: string
            nullable: true
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAIEmbeddingsIn'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  /v1/openai/models:
    get:
      summary: Openai Models
      operationId: openai_models_v1_openai_models_get
      parameters:
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIModelsOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  /v1/openai/images/generations:
    post:
      summary: Openai Images Generations
      description: Generate image using OpenAI Images API
      operationId: openai_images_generations_v1_openai_images_generations_post
      parameters:
        - name: x-deepinfra-source
          in: header
          schema:
            title: X-Deepinfra-Source
            type: string
            nullable: true
        - name: user-agent
          in: header
          schema:
            title: User-Agent
            type: string
            nullable: true
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIImagesOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  /v1/openai/images/variations:
    post:
      summary: Openai Images Variations
      description: Generate a similar image using OpenAI Images Variations API
      operationId: openai_images_variations_v1_openai_images_variations_post
      parameters:
        - name: x-deepinfra-source
          in: header
          schema:
            title: X-Deepinfra-Source
            type: string
            nullable: true
        - name: user-agent
          in: header
          schema:
            title: User-Agent
            type: string
            nullable: true
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIImagesOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  /v1/feedback:
    post:
      summary: Submit Feedback
      description: Submit feedback
      operationId: submit_feedback_v1_feedback_post
      parameters:
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeedbackIn'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  /v1/openai/audio/speech:
    post:
      summary: Openai Audio Speech
      operationId: openai_audio_speech_v1_openai_audio_speech_post
      parameters:
        - name: x-deepinfra-source
          in: header
          schema:
            title: X-Deepinfra-Source
            type: string
            nullable: true
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAITextToSpeechIn'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  /v1/openai/audio/transcriptions:
    post:
      summary: Openai Audio Transcriptions
      operationId: openai_audio_transcriptions_v1_openai_audio_transcriptions_post
      parameters:
        - name: x-deepinfra-source
          in: header
          schema:
            title: X-Deepinfra-Source
            type: string
            nullable: true
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_openai_audio_transcriptions_v1_openai_audio_transcriptions_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  /v1/openai/audio/translations:
    post:
      summary: Openai Audio Translations
      operationId: openai_audio_translations_v1_openai_audio_translations_post
      parameters:
        - name: x-deepinfra-source
          in: header
          schema:
            title: X-Deepinfra-Source
            type: string
            nullable: true
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_openai_audio_translations_v1_openai_audio_translations_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  /v1/logs/query:
    get:
      summary: Logs Query
      description: "Query inference logs.\n* Without timestamps (from/to) returns last `limit` messages (in last month).\n* With `from` only, returns first `limit` messages after `from` (inclusive).\n* With `to` only, returns last `limit` messages before `to` (inclusive).\n* With both `from` and `to`, return the first `limit` messages after `from`, but not later than `to`.\n* `from` and `to` should be no more than a month apart."
      operationId: logs_query_v1_logs_query_get
      parameters:
        - name: deploy_id
          in: query
          description: the deploy id to get the logs from
          required: true
          schema:
            title: Deploy Id
            type: string
            description: the deploy id to get the logs from
        - name: from
          in: query
          description: 'start of period, in fractional seconds since unix epoch (inclusive)'
          schema:
            title: From
            type: string
            description: 'start of period, in fractional seconds since unix epoch (inclusive)'
            nullable: true
        - name: to
          in: query
          description: 'end of period, in fractional seconds since unix epoch (exclusive)'
          schema:
            title: To
            type: string
            description: 'end of period, in fractional seconds since unix epoch (exclusive)'
            nullable: true
        - name: limit
          in: query
          description: 'how many items to return at most (default 100, in [1, 1000])'
          schema:
            title: Limit
            type: integer
            description: 'how many items to return at most (default 100, in [1, 1000])'
            default: 100
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogQueryOut'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  /v1/deployment_logs/query:
    get:
      summary: Deployment Logs Query
      description: "Query deployment logs.\n* Without timestamps (from/to) returns last `limit` messages (in last month).\n* With `from` only, returns first `limit` messages after `from` (inclusive).\n* With `to` only, returns last `limit` messages before `to` (inclusive).\n* With both `from` and `to`, return the first `limit` messages after `from`, but not later than `to`.\n* `from` and `to` should be no more than a month apart."
      operationId: deployment_logs_query_v1_deployment_logs_query_get
      parameters:
        - name: deploy_id
          in: query
          description: the deploy id to get the logs from
          required: true
          schema:
            title: Deploy Id
            type: string
            description: the deploy id to get the logs from
        - name: pod_name
          in: query
          description: the pod name to get the logs from
          schema:
            title: Pod Name
            type: string
            description: the pod name to get the logs from
            nullable: true
        - name: from
          in: query
          description: 'start of period, in fractional seconds since unix epoch (inclusive)'
          schema:
            title: From
            type: string
            description: 'start of period, in fractional seconds since unix epoch (inclusive)'
            nullable: true
        - name: to
          in: query
          description: 'end of period, in fractional seconds since unix epoch (exclusive)'
          schema:
            title: To
            type: string
            description: 'end of period, in fractional seconds since unix epoch (exclusive)'
            nullable: true
        - name: limit
          in: query
          description: 'how many items to return at most (default 100, in [1, 1000])'
          schema:
            title: Limit
            type: integer
            description: 'how many items to return at most (default 100, in [1, 1000])'
            default: 100
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentLogQueryOut'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  /v1/voices:
    get:
      summary: Get Voices
      description: Get available voices for a given user
      operationId: get_voices_v1_voices_get
      parameters:
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetVoicesOut'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  '/v1/text-to-speech/{voice_id}/stream':
    post:
      summary: Text To Speech Stream
      operationId: text_to_speech_stream_v1_text_to_speech__voice_id__stream_post
      parameters:
        - name: voice_id
          in: path
          required: true
          schema:
            title: Voice Id
            type: string
        - name: output_format
          in: query
          schema:
            title: Output Format
            type: string
            nullable: true
          example: wav
        - name: x-deepinfra-source
          in: header
          schema:
            title: X-Deepinfra-Source
            type: string
            nullable: true
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ElevenLabsTextToSpeechIn'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  '/v1/text-to-speech/{voice_id}':
    post:
      summary: Text To Speech
      operationId: text_to_speech_v1_text_to_speech__voice_id__post
      parameters:
        - name: voice_id
          in: path
          required: true
          schema:
            title: Voice Id
            type: string
        - name: output_format
          in: query
          schema:
            title: Output Format
            type: string
            nullable: true
          example: wav
        - name: x-deepinfra-source
          in: header
          schema:
            title: X-Deepinfra-Source
            type: string
            nullable: true
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ElevenLabsTextToSpeechIn'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  '/v1/voices/{voice_id}':
    get:
      summary: Get Voice
      description: Get a voice by its id
      operationId: get_voice_v1_voices__voice_id__get
      parameters:
        - name: voice_id
          in: path
          required: true
          schema:
            title: Voice Id
            type: string
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Voice'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
    delete:
      summary: Delete Voice
      operationId: delete_voice_v1_voices__voice_id__delete
      parameters:
        - name: voice_id
          in: path
          required: true
          schema:
            title: Voice Id
            type: string
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  /v1/voices/add:
    post:
      summary: Create Voice
      description: Create a new voice
      operationId: create_voice_v1_voices_add_post
      parameters:
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_create_voice_v1_voices_add_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Voice'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  '/v1/voices/{voice_id}/edit':
    post:
      summary: Update Voice
      operationId: update_voice_v1_voices__voice_id__edit_post
      parameters:
        - name: voice_id
          in: path
          required: true
          schema:
            title: Voice Id
            type: string
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Body_update_voice_v1_voices__voice_id__edit_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Voice'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  /v1/lora/create:
    post:
      summary: Create Lora
      operationId: create_lora_v1_lora_create_post
      parameters:
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLoraApiRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  '/v1/lora/{lora_name}/status':
    get:
      summary: Get Lora Status
      operationId: get_lora_status_v1_lora__lora_name__status_get
      parameters:
        - name: lora_name
          in: path
          required: true
          schema:
            title: Lora Name
            type: string
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  '/v1/lora/{lora_name}':
    get:
      summary: Get Lora
      operationId: get_lora_v1_lora__lora_name__get
      parameters:
        - name: lora_name
          in: path
          required: true
          schema:
            title: Lora Name
            type: string
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
    patch:
      summary: Update Lora
      operationId: update_lora_v1_lora__lora_name__patch
      parameters:
        - name: lora_name
          in: path
          required: true
          schema:
            title: Lora Name
            type: string
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLoraApiRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
    delete:
      summary: Delete Lora
      operationId: delete_lora_v1_lora__lora_name__delete
      parameters:
        - name: lora_name
          in: path
          required: true
          schema:
            title: Lora Name
            type: string
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  '/v1/model/{model_name}/loras':
    get:
      summary: Get Model Loras
      operationId: get_model_loras_v1_model__model_name__loras_get
      parameters:
        - name: model_name
          in: path
          required: true
          schema:
            title: Model Name
            type: string
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  /v1/user/loras:
    get:
      summary: Get User Loras
      operationId: get_user_loras_v1_user_loras_get
      parameters:
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  /v1/containers/params:
    get:
      summary: Container Rentals Get Params
      operationId: container_rentals_get_params_v1_containers_params_get
      parameters:
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  /v1/containers/gpu_availability:
    get:
      summary: Rent Gpu Availability
      operationId: rent_gpu_availability_v1_containers_gpu_availability_get
      parameters:
        - name: source
          in: query
          schema:
            title: Source
            type: string
            default: ''
        - name: base_model
          in: query
          schema:
            title: Base Model
            type: string
            default: ''
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeployGPUAvailability'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  /v1/containers:
    post:
      summary: Container Rentals Start
      operationId: container_rentals_start_v1_containers_post
      parameters:
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContainerRentalStartIn'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerRentalStartOut'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
      security:
        - HTTPBearer: [ ]
    get:
      summary: Container Rentals List
      operationId: container_rentals_list_v1_containers_get
      parameters:
        - name: state
          in: query
          description: whether to return active or inactive containers
          schema:
            title: State
            enum:
              - active
              - inactive
            type: string
            description: whether to return active or inactive containers
            default: active
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Container Rentals List V1 Containers Get
                type: array
                items:
                  $ref: '#/components/schemas/ContainerRentalOut'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
      security:
        - HTTPBearer: [ ]
  '/v1/containers/{container_id}':
    get:
      summary: Container Rentals Get
      operationId: container_rentals_get_v1_containers__container_id__get
      parameters:
        - name: container_id
          in: path
          required: true
          schema:
            title: Container Id
            type: string
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerRentalOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
    patch:
      summary: Container Rentals Update
      operationId: container_rentals_update_v1_containers__container_id__patch
      parameters:
        - name: container_id
          in: path
          required: true
          schema:
            title: Container Id
            type: string
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContainerRentalUpdateIn'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
      security:
        - HTTPBearer: [ ]
    delete:
      summary: Container Rentals Delete
      operationId: container_rentals_delete_v1_containers__container_id__delete
      parameters:
        - name: container_id
          in: path
          required: true
          schema:
            title: Container Id
            type: string
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  /github/login:
    get:
      summary: Github Login
      description: Initiate github SSO login flow. Callback is /github/callback
      operationId: github_login_github_login_get
      parameters:
        - name: login_id
          in: query
          schema:
            title: Login Id
            type: string
            nullable: true
        - name: origin
          in: query
          schema:
            title: Origin
            type: string
            nullable: true
        - name: deal
          in: query
          schema:
            title: Deal
            type: string
            nullable: true
        - name: ti_token
          in: query
          schema:
            title: Ti Token
            type: string
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /okta/login:
    get:
      summary: Okta Login
      operationId: okta_login_okta_login_get
      parameters:
        - name: team_id
          in: query
          required: true
          schema:
            title: Team Id
            type: string
        - name: origin
          in: query
          schema:
            title: Origin
            type: string
            nullable: true
        - name: login_id
          in: query
          schema:
            title: Login Id
            type: string
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /github/cli/login:
    get:
      summary: Github Cli Login
      description: "deepctl is calling this request waiting for auth token during login.\nThe token is stored in /github/callback"
      operationId: github_cli_login_github_cli_login_get
      parameters:
        - name: login_id
          in: query
          required: true
          schema:
            title: Login Id
            type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/api-tokens:
    get:
      summary: Get Api Tokens
      operationId: get_api_tokens_v1_api_tokens_get
      parameters:
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Api Tokens V1 Api Tokens Get
                type: array
                items:
                  $ref: '#/components/schemas/ApiToken'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
    post:
      summary: Create Api Token
      operationId: create_api_token_v1_api_tokens_post
      parameters:
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiTokenIn'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiToken'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  '/v1/api-tokens/{api_token}':
    get:
      summary: Get Api Token
      operationId: get_api_token_v1_api_tokens__api_token__get
      parameters:
        - name: api_token
          in: path
          required: true
          schema:
            title: Api Token
            type: string
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiToken'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
    delete:
      summary: Delete Api Token
      operationId: delete_api_token_v1_api_tokens__api_token__delete
      parameters:
        - name: api_token
          in: path
          required: true
          schema:
            title: Api Token
            type: string
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  '/v1/api-tokens/{api_token}/vercel_export':
    post:
      summary: Export Api Token To Vercel
      operationId: export_api_token_to_vercel_v1_api_tokens__api_token__vercel_export_post
      parameters:
        - name: api_token
          in: path
          required: true
          schema:
            title: Api Token
            type: string
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiTokenVercelExportIn'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  /v1/scoped-jwt:
    post:
      summary: ' Create Scoped Jwt'
      operationId: _create_scoped_jwt_v1_scoped_jwt_post
      parameters:
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScopedJWTIn'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScopedJWTOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
    get:
      summary: Inspect Scoped Jwt
      operationId: inspect_scoped_jwt_v1_scoped_jwt_get
      parameters:
        - name: jwtoken
          in: query
          required: true
          schema:
            title: Jwtoken
            type: string
        - name: xi-api-key
          in: header
          schema:
            title: Xi-Api-Key
            type: string
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InspectScopedJWTOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  /payment/checklist:
    get:
      summary: Get Checklist
      operationId: get_checklist_payment_checklist_get
      parameters:
        - name: session
          in: cookie
          schema:
            type: String
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Checklist'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  /payment/config:
    get:
      summary: Get Config
      operationId: get_config_payment_config_get
      parameters:
        - name: session
          in: cookie
          schema:
            type: String
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
    post:
      summary: Set Config
      operationId: set_config_payment_config_post
      parameters:
        - name: session
          in: cookie
          schema:
            type: String
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigIn'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  /payment/billing-portal:
    get:
      summary: Billing Portal
      operationId: billing_portal_payment_billing_portal_get
      parameters:
        - name: return_url
          in: query
          schema:
            title: Return Url
            type: string
            nullable: true
        - name: session
          in: cookie
          schema:
            type: String
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingPortalOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  /payment/usage:
    get:
      summary: Usage
      operationId: usage_payment_usage_get
      parameters:
        - name: from
          in: query
          description: 'start of period, YYYY.MM or current(-N) format'
          required: true
          schema:
            title: From
            type: string
            description: 'start of period, YYYY.MM or current(-N) format'
        - name: to
          in: query
          description: 'end of period (if missing a single month marked by from is return), same format as from'
          schema:
            title: To
            type: string
            description: 'end of period (if missing a single month marked by from is return), same format as from'
            nullable: true
        - name: session
          in: cookie
          schema:
            type: String
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  /payment/usage/rent:
    get:
      summary: Usage Rent
      operationId: usage_rent_payment_usage_rent_get
      parameters:
        - name: from
          in: query
          description: 'start of period, in seconds since unix epoch'
          required: true
          schema:
            title: From
            type: integer
            description: 'start of period, in seconds since unix epoch'
        - name: to
          in: query
          description: 'end of period, in seconds since unix epoch'
          schema:
            title: To
            type: integer
            description: 'end of period, in seconds since unix epoch'
            nullable: true
        - name: session
          in: cookie
          schema:
            type: String
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageRentOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  '/payment/usage/{api_token}':
    get:
      summary: Usage Api Token
      operationId: usage_api_token_payment_usage__api_token__get
      parameters:
        - name: api_token
          in: path
          required: true
          schema:
            title: Api Token
            type: string
        - name: from
          in: query
          description: 'start of period, YYYY.MM or current(-N) format'
          required: true
          schema:
            title: From
            type: string
            description: 'start of period, YYYY.MM or current(-N) format'
        - name: to
          in: query
          description: 'end of period (if missing a single month marked by from is return), same format as from'
          schema:
            title: To
            type: string
            description: 'end of period (if missing a single month marked by from is return), same format as from'
            nullable: true
        - name: session
          in: cookie
          schema:
            type: String
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  /payment/deepstart/application:
    post:
      summary: Deepstart Apply
      operationId: deepstart_apply_payment_deepstart_application_post
      parameters:
        - name: session
          in: cookie
          schema:
            type: String
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeepStartApplicationIn'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepStartApplicationOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - HTTPBearer: [ ]
  /payment/funds:
    post:
      summary: Add Funds
      operationId: add_funds_payment_funds_post
      parameters:
        - name: session
          in: cookie
          schema:
            type: String
      requestBody:
        content:
          application/json:
            schema:
[...]
